// Main路由页面样式
.v-enter{
  opacity: 0;
 }
 .v-enter-active{
  transition: 0.2s;
 }
 .v-enter-to{
  opacity: 1;
 }
 .v-leave{
  opacity: 1;
 }
 .v-leave-to{
  opacity:0;
 }
 .v-leave-active{
  transition: 0.2s;
 }
 // logo
 .header {
   background-color: #fafafa;
   position:sticky;
   top:0;
   z-index: 99;
 }
 .logo-box {
   height: 2.5385rem;
   background-color: #fff;
   padding: 3px;
   img{
     height: 100%;
   }
 }
 .btn-qq {
   border: 1px solid #ccc;
   padding: 5px 25px;
   border-radius: 15px;
 }
 // tab
 .nav {
   div {
     width: 50%;
     height:3.2308rem ;
     line-height: 3.2308rem ;
     position: relative;
   }
   .active{
     color: rgba(34,213,156,1);
   }
   .active::after{
     content: "";
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translate(-50%);
     width: 1.6rem;
     height: 0.2rem;
     border-radius: .3rem;
     background: currentColor;
   }
 }